.my-breadcrumb {
      background: #f8f9fa;
      border: 1px solid #dee2e6;
      border-radius: 6px;
      padding: 0.75rem;
    }
    
    :host ::ng-deep .my-breadcrumb .p-breadcrumb-list li .p-menuitem-link {
      padding: 0.5rem 1rem;
    }